<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StockInfoMapper">

    <!-- 分页获取库房信息 -->
    <select id="stockInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.type,
        si.type_id AS typeId,
        si.amount,
        si.unit,
        si.content,
        si.price,
        si.stock_id,
        si.create_date AS createDate,
        ct.`name` AS consumableType,
        shi.name AS stockName
        FROM
        stock_info si
        LEFT JOIN consumable_type ct ON ( ct.id = si.type_id )
        LEFT JOIN storehouse_info shi ON ( shi.id = si.stock_id )
        WHERE
        1 = 1
        <if test="stockInfo.name != null and stockInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{stockInfo.name},'%')
        </if>
        <if test="stockInfo.type != null and stockInfo.type != ''">
            AND si.type LIKE CONCAT('%',#{stockInfo.type},'%')
        </if>
        <if test="stockInfo.typeId != null">
            AND si.type_id = #{stockInfo.typeId}
        </if>
        AND si.is_in = 0
        ORDER BY
        si.create_date DESC
    </select>

    <select id="stockInfoByList" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.type,
        si.type_id AS typeId,
        si.amount,
        si.unit,
        si.content,
        si.price,
        si.create_date AS createDate,
        ct.`name` AS consumableType
        FROM
        stock_info si
        LEFT JOIN consumable_type ct ON ( ct.id = si.type_id )
        WHERE
        1 = 1
        <if test="stockInfo.name != null and stockInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{stockInfo.name},'%')
        </if>
        <if test="stockInfo.type != null and stockInfo.type != ''">
            AND si.type LIKE CONCAT('%',#{stockInfo.type},'%')
        </if>
        <if test="stockInfo.typeId != null">
            AND si.type_id = #{stockInfo.typeId}
        </if>
        AND si.is_in = 0
    </select>

    <!-- 分页获取物品出入库详情 -->
    <select id="stockInfoDetailPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.type_id AS typeId,
        si.type,
        si.amount,
        si.unit,
        si.content,
        si.price,
        si.create_date AS createDate,
        si.is_in,
        si.to_user_id,
        cy.`name` AS consumableName
        FROM
        stock_info si
        LEFT JOIN consumable_type cy ON (cy.id = si.type_id)
        WHERE si.is_in != 0
        <if test="stockInfo.name != null and stockInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{stockInfo.name},'%')
        </if>
        <if test="stockInfo.type != null and stockInfo.type != ''">
            AND si.type LIKE CONCAT('%',#{stockInfo.type},'%')
        </if>
        <if test="stockInfo.typeId != null">
            AND si.type_id = #{stockInfo.typeId}
        </if>
        <if test="stockInfo.isIn != null">
            AND si.is_in = #{stockInfo.isIn}
        </if>
    </select>

    <!-- 根号用户ID获取领取耗材 -->
    <select id="getGoodsPutByUserId" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.type_id AS typeId,
        si.type,
        si.amount,
        si.unit,
        si.content,
        si.price,
        si.create_date AS createDate,
        ct.`name` AS consumableName
        FROM
        stock_info si
        LEFT JOIN student_info stu ON ( stu.id = si.to_user_id )
        LEFT JOIN consumable_type ct ON ( ct.id = si.type_id )
        WHERE
        1 = 1
        AND si.is_in = 2
        AND stu.user_id = #{ stockInfo.userId }
        <if test="stockInfo.name != null and stockInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{stockInfo.name},'%')
        </if>
        <if test="stockInfo.type != null and stockInfo.type != ''">
            AND si.type LIKE CONCAT('%',#{stockInfo.type},'%')
        </if>
        <if test="stockInfo.typeId != null">
            AND si.type_id = #{stockInfo.typeId}
        </if>
    </select>

    <!-- 入库统计 -->
    <select id="stockPutRate" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL( SUM(er.amount), 0 ) AS amount
        FROM
        (
        SELECT
            DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY )) spo
        LEFT JOIN stock_info er ON (
        DATE_FORMAT( er.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )) AND er.is_in = 1
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 入库类型统计 -->
    <select id="stockPutTypeRate" resultType="java.util.LinkedHashMap">
        SELECT
        IFNULL(sum( si.amount * si.price ),0) AS price,
        ct.`name`
        FROM
        stock_info si
        LEFT JOIN consumable_type ct ON ( ct.id = si.type_id )
        WHERE
        si.is_in = 1
        GROUP BY
        ct.id
    </select>

    <!-- 出库统计 -->
    <select id="stockOutRate" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL( SUM(er.amount), 0 ) AS amount
        FROM
        (
        SELECT
            DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY )) spo
        LEFT JOIN stock_info er ON (
        DATE_FORMAT( er.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )) AND er.is_in = 2
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 出库类型统计 -->
    <select id="stockOutTypeRate" resultType="java.util.LinkedHashMap">
        SELECT
        IFNULL(sum( si.amount * si.price ),0) AS price,
        ct.`name`
        FROM
        stock_info si
        LEFT JOIN consumable_type ct ON ( ct.id = si.type_id )
        WHERE
        si.is_in = 2
        GROUP BY
        ct.id
    </select>

    <!-- 本月数据统计 -->
    <select id="stockInfoByMonth" resultType="java.util.LinkedHashMap">
        SELECT
        *
        FROM
        ( SELECT count( 1 ) AS putCount FROM stock_info si WHERE si.is_in = 1 ) AS on1,
        ( SELECT count( 1 ) AS outCount FROM stock_info si WHERE si.is_in = 2 ) AS on2,
        ( SELECT IFNULL( SUM( si.amount * si.price ),0) AS price FROM stock_info si WHERE si.is_in = 1 ) AS on3
    </select>

    <!-- 获取历史出库数据 -->
    <select id="getHistoricalSales" resultType="cc.mrbird.febs.cos.entity.Sale">
        SELECT
        DATE_FORMAT(spo.days, '%Y-%m-%d') AS date,
        IFNULL(SUM(si.amount), 0) AS quantity
        FROM
        (
        SELECT DATE_SUB(CURDATE(), INTERVAL 0 DAY) days UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 7 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 8 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 9 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 10 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 11 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 12 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 13 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 14 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 15 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 16 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 17 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 18 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 19 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 20 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 21 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 22 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 23 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 24 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 25 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 26 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 27 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 28 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 29 DAY)
        ) spo
        LEFT JOIN stock_info si ON (
        DATE_FORMAT(si.create_date, '%Y-%m-%d') = DATE_FORMAT(spo.days, '%Y-%m-%d')
        AND si.is_in = 2
        <if test="name != null and name != ''">
            AND si.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="typeId != null">
            AND si.type_id = #{typeId}
        </if>
        )
        GROUP BY spo.days
        ORDER BY spo.days ASC
    </select>

    <!-- 获取历史库存数据 -->
    <select id="getHistoricalInventory" resultType="cc.mrbird.febs.cos.entity.Inventory">
        SELECT
        DATE_FORMAT(spo.days, '%Y-%m-%d') AS date,
        IFNULL(SUM(si.amount), 0) AS quantity
        FROM
        (
        SELECT DATE_SUB(CURDATE(), INTERVAL 0 DAY) days UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 7 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 8 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 9 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 10 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 11 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 12 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 13 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 14 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 15 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 16 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 17 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 18 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 19 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 20 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 21 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 22 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 23 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 24 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 25 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 26 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 27 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 28 DAY) UNION
        SELECT DATE_SUB(CURDATE(), INTERVAL 29 DAY)
        ) spo
        LEFT JOIN stock_info si ON (
        DATE_FORMAT(si.create_date, '%Y-%m-%d') = DATE_FORMAT(spo.days, '%Y-%m-%d')
        AND si.is_in = 1
        <if test="name != null and name != ''">
            AND si.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="typeId != null">
            AND si.type_id = #{typeId}
        </if>
        )
        GROUP BY spo.days
        ORDER BY spo.days ASC
    </select>
</mapper>
